@page
@model Assi02_PRN221.Pages.Account.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookManagementMember[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookManagementMember[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookManagementMember[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookManagementMember[0].MemberRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookManagementMember) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberRole)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
