@page
@model Assi02_PRN221.Pages.BookBorrowList.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookBorrow[0].BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookBorrow[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookBorrow[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookBorrow[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookBorrow) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookBorrowId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookBorrowId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookBorrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
